/* Button */
button {
    font-family: inherit;
    color: var(--tss-default-foreground-color);
    background-color: var(--tss-default-background-color);
    border-color: var(--tss-default-border-color);
}

    button:focus {
        outline: none;
    }


a {
    color: var(--tss-link-color);
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.tss-btn {
    border: 1px solid;
    border-radius: 2px;
    outline: transparent none medium;
    min-width: 80px;
    user-select: none;
    cursor: pointer;
    padding: 0px 16px;
    min-height: 32px;
    margin: 4px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    box-shadow: var(--tss-box-shadow);
}

    .tss-btn:hover {
        color: var(--tss-default-foreground-hover-color);
        background-color: var(--tss-default-background-hover-color);
    }

.tss-btn-nowrap {
    white-space: nowrap;
}

    .tss-btn.tss-small {
        min-height: 16px;
        margin:4px;
        padding:0px 8px;
    }

.tss-btn:focus {
    outline: none;

}

    .tss-btn.tss-disabled {
        color: var(--tss-disabled-foreground-color);
        background-color: var(--tss-disabled-background-color);
        border-color: var(--tss-disabled-background-color);
        pointer-events:none;
    }

    .tss-btn > i {
        text-decoration: none;
    }

    .tss-btn > i + span:not(:empty) {
        margin-left: 10px;
    }


.tss-btn-default {
    color: var(--tss-default-foreground-color);
    background-color: var(--tss-default-background-color);
    border-color: var(--tss-secondary-background-color);
}

    .tss-btn-default:hover {
        color: var(--tss-default-foreground-hover-color);
        background-color: var(--tss-default-background-hover-color);
        border-color: var(--tss-default-background-hover-color);
    }

    .tss-btn-default:active {
        color: var(--tss-default-foreground-active-color);
        background-color: var(--tss-default-background-active-color);
        border-color: var(--tss-default-background-active-color);
    }

.tss-btn-primary {
    color: var(--tss-primary-foreground-color);
    background-color: var(--tss-primary-background-color);
    border-color: var(--tss-primary-border-color);
}

    .tss-btn-primary:hover {
        color: var(--tss-primary-foreground-hover-color);
        background-color: var(--tss-primary-background-hover-color);
    }

    .tss-btn-primary:active {
        color: var(--tss-primary-foreground-active-color);
        background-color: var(--tss-primary-background-active-color);
    }


.tss-btn-danger {
    color: var(--tss-danger-foreground-color);
    background-color: var(--tss-danger-background-color);
    border-color: var(--tss-danger-border-color);
}

    .tss-btn-danger:hover {
        color: var(--tss-danger-foreground-hover-color);
        background-color: var(--tss-danger-background-hover-color);
    }

    .tss-btn-danger:active {
        color: var(--tss-danger-foreground-active-color);
        background-color: var(--tss-danger-background-active-color);
    }


.tss-btn-success {
    color: var(--tss-success-foreground-color);
    background-color: var(--tss-success-background-color);
    border-color: var(--tss-success-border-color);
}

    .tss-btn-success:hover {
        color: var(--tss-success-foreground-hover-color);
        background-color: var(--tss-success-background-hover-color);
    }

    .tss-btn-success:active {
        color: var(--tss-success-foreground-active-color);
        background-color: var(--tss-success-background-active-color);
    }


.tss-btn-noborder {
    border-color: transparent;
    box-shadow: none;
}

.tss-btn-nobg {
    background: transparent;
    box-shadow: none;
}


.tss-btn-primary.tss-btn-nobg {
    color: var(--tss-primary-background-color);
}

    .tss-btn-primary.tss-btn-nobg:hover {
        color: var(--tss-primary-background-hover-color);
    }

    .tss-btn-primary.tss-btn-nobg:active {
        color: var(--tss-primary-background-active-color);
    }


.tss-btn-danger.tss-btn-nobg {
    color: var(--tss-danger-background-color);
}

    .tss-btn-danger.tss-btn-nobg:hover {
        color: var(--tss-danger-background-hover-color);
        background-color: var(--tss-danger-background-hover-color);
    }

    .tss-btn-danger.tss-btn-nobg:active {
        color: var(--tss-danger-background-active-color);
        background-color: var(--tss-danger-background-active-color);
    }


.tss-btn-success.tss-btn-nobg {
    color: var(--tss-success-background-color);
}

    .tss-btn-success.tss-btn-nobg:hover {
        color: var(--tss-success-background-hover-color);
        background-color: var(--tss-success-background-hover-color);
    }

    .tss-btn-success.tss-btn-nobg:active {
        color: var(--tss-success-background-active-color);
    }

.tss-btn-link {
    border: none;
    background: none;
    color: var(--tss-link-color);
    text-decoration: none;
    min-width: unset;
    box-shadow: none;
}

    .tss-btn-link:hover {
        border: none;
        background: none;
        background-color:transparent;
        color: var(--tss-link-color);
    }

    .tss-btn-link:hover > span {
        text-decoration: underline;
    }

    .tss-btn-link.tss-disabled {
        color: var(--tss-disabled-foreground-color);
        background-color: unset;
        border-color: unset;
    }

    .tss-btn-link:hover > i {
        text-decoration: none !important;
    }

    .tss-btn-link.tss-dark {
        color: var(--tss-default-foreground-color);
    }

    .tss-btn-link.tss-danger {
        color: var(--tss-danger-background-color);
    }

        .tss-btn-link.tss-danger:hover {
            color: var(--tss-danger-background-color);
        }

        .tss-btn-link.tss-danger.tss-disabled {
            color: var(--tss-disabled-foreground-color);
        }

.tss-btn-nominsize {
    min-height: unset;
    min-width: unset;
}

.tss-btn-linkonhover:hover {
    color: var(--tss-link-color);
}

    .tss-btn-linkonhover:hover > span {
        text-decoration: underline;
    }

    .tss-btn-linkonhover:hover > i {
        text-decoration: none !important;
    }

    .tss-btn-linkonhover.tss-dark {
        color: var(--tss-default-foreground-color);
    }

    .tss-btn-linkonhover.tss-danger {
        color: var(--tss-danger-background-color);
    }

        .tss-btn-linkonhover.tss-danger:hover {
            color: var(--tss-danger-background-color);
        }

        .tss-btn-linkonhover.tss-danger.tss-disabled {
            color: var(--tss-disabled-foreground-color);
        }