.tss-basiclist {
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

.tss-basiclist .tss-basiclist-item {
    float: left;
}

.tss-basiclist-top-spacing, .tss-basiclist-bottom-spacing {
    float: left;
    width: 100%;
}
