/* TextBlock*/
.tss-textblock {
    margin: 4px;
    position: relative;
}

.tss-text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tss-text-nowrap {
    white-space: nowrap;
}