/* Stack */
.tss-splitview {
    display:flex;
    height:100%;
}

.tss-splitter {
    background: var(--tss-overlay-light);
}

    .tss-splitter:hover {
        background: var(--tss-overlay-dark);
    }
