/* Modal */

.tss-dialog {
    position: relative;
    text-align: left;
    /*outline: transparent solid 3px;*/
    max-height: calc(100% - 32px);
    /*max-width: 450px;*/
    min-height: 176px;
    min-width: 288px;
    overflow-y: auto;
    /*width: 288px;*/
    display: flex;
}