/* File Selector and File Drop Area*/

.tss-file-input {
    width: 0px;
    height: 0px;
    overflow: hidden;
    border: 0px;
}

    .tss-file-input .tss-btn {
        padding: 0px;
        margin: 0px;
        margin-right: -16px;
    }

/* Same as .tss-textbox-container*/
.tss-fileselector {
    position: relative;
    margin-bottom: 4px;
    margin-right: 16px;
}

    .tss-fileselector .tss-textbox-container {
        margin-bottom: 0 !important;
        margin-right: 0 !important;
    }

.tss-filedroparea {
    border: 2px dashed var(--tss-primary-border-color);
    border-radius: 12px;
    background: var(--tss-default-background-color);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    margin: 0;
    padding: 48px;
    list-style: none;
    cursor:pointer;
    user-select:none;
    pointer-events:all;
}

    .tss-filedroparea.tss-dropping {
        background: var(--tss-default-background-hover-color);
    }

.tss-filedroparea-message {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.tss-filedroparea-icon {
    color: var(--tss-primary-background-color);
    transition: transform 0.3s ease-in-out;
    transform: translateY(0);
    padding-bottom: 20px;
    -webkit-text-stroke: 1px var(--tss-default-background-color);
    font-size: 48px;
}


@-webkit-keyframes slideInUp {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-16px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounceIcon {
        0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-16px);
    }

    100% {
        transform: translateY(0);
    }
}

.tss-filedroparea.tss-dropping .tss-filedroparea-icon {
    animation-name: bounceIcon;
    -webkit-animation-name: bounceIcon;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    -webkit-text-stroke: 1px var(--tss-default-background-hover-color);
}

