/* Panel */
.tss-panel-container {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: 0;
    padding: 0;
    background-color: var(--tss-overlay-light);
    visibility: visible;
}
    .tss-panel-container.tss-dark {
        background-color: var(--tss-overlay-dark);
    }



.tss-panel {
    margin: 0;
    padding: 0;
    background-color: var(--tss-default-background-color);
    box-shadow: rgba(0, 0, 0, 0.22) 0px 25.6px 57.6px 0px, rgba(0, 0, 0, 0.18) 0px 4.8px 14.4px 0px;
    position: absolute;
    right: auto;
    top: 0;
    left: auto;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden auto;
    width: auto;
    visibility: visible;
    isolation: isolate;
}

.tss-panel-command {
    margin: 0;
    padding: 0;
    border: 0;
    height: 44px;
    position: relative;
}

    .tss-panel-command button {
        position: absolute;
        right: 5px;
        top: 0;
        bottom: 0;
        background-color: transparent;
        color: var(--tss-secondary-foreground-color);
        border: medium none;
        cursor: pointer;
        width: 44px;
        user-select: none;
        border-radius: 2px;
        padding: 0 4px;
        text-align: center;
        display: inline-block;
        font-size: var(--tss-font-size-mediumplus);
        font-weight: lighter;
    }

        .tss-panel-command button:hover {
            background-color: var(--tss-default-background-hover-color);
            color: var(--tss-default-foreground-color);
        }

        .tss-panel-command button:active {
            background-color: var(--tss-default-background-active-color);
            color: var(--tss-primary-background-active-color);
        }

.tss-panel-inner {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 16px;
}

.tss-panel-content {
    flex-grow: 1;
    overflow-y: auto;
}

.tss-panel-footer {
    flex-shrink: 0;
}


.tss-panelSize-small {
    width: 340px;
}

.tss-panelSize-medium {
    width: 644px;
}

.tss-panelSize-large {
    left: 428px;
}

    .tss-panelSize-large.tss-panelSide-near {
        right: 428px;
        left: 0;
    }

.tss-panelSize-largefixed {
    width: 940px;
}

.tss-panelSize-extralarge {
    left: 176px;
}

    .tss-panelSize-extralarge.tss-panelSide-near {
        right: 176px;
        left: 0;
    }

.tss-panelSize-fullwidth {
    width: 100%;
}

.tss-panel-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
}

.tss-panel-lightDismiss {
    cursor: pointer;
}

.tss-panelSide-far {
    right: 0;
}

.tss-panelSide-near {
    left: 0;
}

.tss-panel-modeless {
    visibility: hidden
}
