/* Variables - Colors should reflect in the Theme.cs file*/
:root {
    /* Weights */
    --tss-font-weight-regular: 400;
    --tss-font-weight-semibold: 600;
    --tss-font-weight-bold: 700;
    /* Sizes */
    --tss-font-size-mega: 42px;
    --tss-font-size-xxlarge: 32px;
    --tss-font-size-xlarge: 28px;
    --tss-font-size-large: 24px;
    --tss-font-size-mediumplus: 20px;
    --tss-font-size-medium: 18px;
    --tss-font-size-smallplus: 16px;
    --tss-font-size-small: 14px;
    --tss-font-size-xsmall: 12px;
    --tss-font-size-tiny: 10px;
    /* Colors - Colors should reflect in the Theme.cs file*/
    --tss-default-background-color: rgb(255, 255, 255);
    --tss-default-foreground-color: rgb(50, 49, 48);
    --tss-secondary-background-color: rgb(250, 249, 248);
    --tss-secondary-foreground-color: rgb(96, 94, 92);
    --tss-disabled-background-color: rgb(243, 242, 241);
    --tss-disabled-foreground-color: rgb(161, 159, 157);
    --tss-default-border-color: rgb(250, 249, 248);
    --tss-dark-border-color: rgb(138, 136, 134);
    --tss-default-separator-color: rgb(243, 242, 241);
    --tss-invalid-border-color: rgb(164, 38, 44);
    --tss-default-background-hover-color: rgb(243, 242, 241);
    --tss-default-foreground-hover-color: rgb(32, 31, 30);
    --tss-default-background-active-color: rgb(243, 242, 241);
    --tss-default-foreground-active-color: rgb(32, 31, 30);
    --tss-progress-background-color: rgb(237, 235, 233);
    --tss-link-color: rgb(0, 120, 212);
    /*Primary color*/
    --tss-primary-background-color: rgb(0, 120, 212);
    --tss-primary-foreground-color: rgb(255, 255, 255);
    --tss-primary-border-color: rgb(16, 110, 190);
    --tss-primary-background-hover-color: rgb(16, 110, 190);
    --tss-primary-foreground-hover-color: rgb(255, 255, 255);
    --tss-primary-background-active-color: rgb(0, 90, 158);
    --tss-primary-foreground-active-color: rgb(255, 255, 255);
    /*Danger color*/
    --tss-danger-background-color: rgb(220,53,69);
    --tss-danger-foreground-color: rgb(255, 255, 255);
    --tss-danger-border-color: rgb(220,53,69);
    --tss-danger-background-hover-color: rgb(200, 35, 51);
    --tss-danger-foreground-hover-color: rgb(255,255,255);
    --tss-danger-background-active-color: rgb(189, 33, 48);
    --tss-danger-foreground-active-color: rgb(255, 255, 255);
    /*Success color*/
    --tss-success-background-color: rgb(40, 167, 69);
    --tss-success-foreground-color: rgb(255, 255, 255);
    --tss-success-border-color: rgb(40, 167, 69);
    --tss-success-background-hover-color: rgb(33, 136, 56);
    --tss-success-foreground-hover-color: rgb(255,255,255);
    --tss-success-background-active-color: rgb(30, 126, 52);
    --tss-success-foreground-active-color: rgb(255, 255, 255);
    /*Other color*/
    --tss-slider-color: rgb(200, 198, 196);
    --tss-slider-active-color: rgb(222, 236, 249);
    --tss-slider-disabled-color: rgb(243, 242, 241);
    --tss-overlay-light: rgba(255, 255, 255, 0.4);
    --tss-overlay-dark: rgba(0, 0, 0, 0.4);
    --tss-shadow-color-from: rgba(0,0,0,0.132);
    --tss-shadow-color-to: rgba(0,0,0,0.108);
    --tss-box-shadow: 0 1.6px 3.6px 0 var(--tss-shadow-color-from), 0 0.3px 0.9px 0 var(--tss-shadow-color-to);
    --tss-box-shadow-darker: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.3), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.45);
    --tss-primary-shadow: 0 1.6px 3.6px 0 rgba(0, 120, 212,0.132), 0 0.3px 0.9px 0 rgba(0, 120, 212,0.108);
    --tss-card-shadow: 0 1.6px 3.6px 0 var(--tss-shadow-color-from), 0 0.3px 0.9px 0 var(--tss-shadow-color-to);
    --tss-toast-shadow: 2px 3px 12px 0px rgba(0, 0, 0, 0.45);
    --tss-sidebar-background-color: rgb(0, 120, 212);
    --tss-sidebar-foreground-color: rgb(222, 235, 255);
    --tss-navbar-background-color: rgb(255, 255, 255);
    --tss-navbar-foreground-color: rgb(50, 49, 48);
    --tss-scrollbar-track-color: rgba(50, 49, 48, 0.12);
    --tss-scrollbar-track-hidden-color: rgba(50, 49, 48, 0.06);
    --tss-scrollbar-thumb-color: rgba(50, 49, 48, 0.2);
    --tss-simplebar-thumb-color: rgba(50, 49, 48,0.32);
}

.tss-dark-mode {
    /* Colors */
    --tss-default-background-color: rgb(34, 34, 34);
    --tss-default-foreground-color: rgb(217, 217, 217);
    --tss-secondary-background-color: rgb(51, 51, 51);
    --tss-secondary-foreground-color: rgb(217, 217, 217);
    --tss-disabled-background-color: rgb(0, 0, 0);
    --tss-disabled-foreground-color: rgb(173, 181, 189);
    --tss-default-border-color: rgb(51, 51, 51);
    --tss-dark-border-color: rgb(68, 68, 68);
    --tss-default-separator-color: rgb(51, 51, 51);
    --tss-invalid-border-color: rgb(231, 76, 60);
    --tss-default-background-hover-color: rgb(49, 49, 49);
    --tss-default-foreground-hover-color: rgb(255, 255, 255);
    --tss-default-background-active-color: rgb(68, 68, 68);
    --tss-default-foreground-active-color: rgb(255, 255, 255);
    --tss-progress-background-color: rgb(68, 68, 68);
    --tss-link-color: rgb(0, 120, 212);
    /*Primary color*/
    --tss-primary-background-color: rgb(0, 120, 212);
    --tss-primary-foreground-color: rgb(255, 255, 255);
    --tss-primary-border-color: rgb(16, 110, 190);
    --tss-primary-background-hover-color: rgb(16, 110, 190);
    --tss-primary-foreground-hover-color: rgb(255, 255, 255);
    --tss-primary-background-active-color: rgb(0, 90, 158);
    --tss-primary-foreground-active-color: rgb(255, 255, 255);
    /*Danger color*/
    --tss-danger-background-color: rgb(255, 81, 98);
    --tss-danger-foreground-color: rgb(255, 255, 255);
    --tss-danger-border-color: rgb(255, 81, 98);
    --tss-danger-background-hover-color: rgb(200, 35, 51);
    --tss-danger-foreground-hover-color: rgb(255,255,255);
    --tss-danger-background-active-color: rgb(189, 33, 48);
    --tss-danger-foreground-active-color: rgb(255, 255, 255);
    /*Success color*/
    --tss-success-background-color: rgb(30, 136, 56);
    --tss-success-foreground-color: rgb(255, 255, 255);
    --tss-success-border-color: rgb(30, 136, 56);
    --tss-success-background-hover-color: rgb(33, 136, 56);
    --tss-success-foreground-hover-color: rgb(255,255,255);
    --tss-success-background-active-color: rgb(30, 126, 52);
    --tss-success-foreground-active-color: rgb(255, 255, 255);
    /*Other color*/
    --tss-slider-color: rgb(200, 198, 196);
    --tss-slider-active-color: rgb(222, 236, 249);
    --tss-slider-disabled-color: rgb(243, 242, 241);
    --tss-overlay-light: rgba(255, 255, 255, 0.1);
    --tss-overlay-dark: rgba(255, 255, 255, 0.4);
    --tss-shadow-color-from: rgba(0,0,0,0.132);
    --tss-shadow-color-to: rgba(0,0,0,0.108);
    --tss-box-shadow: 0 3.6px 5.6px 0 var(--tss-shadow-color-from), 2px 2.3px 5.9px 0 var(--tss-shadow-color-to);
    --tss-box-shadow-darker: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.3), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.45);
    --tss-primary-shadow: 0 3.6px 5.6px 0 rgba(0, 120, 212,0.132), 2px 2.3px 5.9px 0 rgba(0, 120, 212,0.108);
    --tss-card-shadow: 0 3.6px 5.6px 0 var(--tss-shadow-color-from), 2px 2.3px 5.9px 0 var(--tss-shadow-color-to);
    --tss-toast-shadow: 2px 3px 12px 0px rgba(0, 0, 0, 0.45);
    --tss-sidebar-background-color: rgb(0, 49, 86);
    --tss-sidebar-foreground-color: rgb(222, 235, 255);
    --tss-navbar-background-color: rgb(34, 34, 34);
    --tss-navbar-foreground-color: rgb(255, 255, 255);
    --tss-scrollbar-track-color: rgba(255,255,255,0.08);
    --tss-scrollbar-track-hidden-color: rgba(255,255,255,0.04);
    --tss-scrollbar-thumb-color: rgba(255,255,255,0.15);
    --tss-simplebar-thumb-color: rgba(255,255,255,0.23);
}

/* Fonts */
/* Sizes */
.tss-fontsize-mega {
    font-size: var(--tss-font-size-mega);
}

.tss-fontsize-xxlarge {
    font-size: var(--tss-font-size-xxlarge);
}

.tss-fontsize-xlarge {
    font-size: var(--tss-font-size-xlarge);
}

.tss-fontsize-large {
    font-size: var(--tss-font-size-large);
}

.tss-fontsize-mediumplus {
    font-size: var(--tss-font-size-mediumplus);
}

.tss-fontsize-medium {
    font-size: var(--tss-font-size-medium);
}

.tss-fontsize-smallplus {
    font-size: var(--tss-font-size-smallplus);
}

.tss-fontsize-small {
    font-size: var(--tss-font-size-small);
}

.tss-fontsize-xsmall {
    font-size: var(--tss-font-size-xsmall);
}

.tss-fontsize-tiny {
    font-size: var(--tss-font-size-tiny);
}

/* Weights */
.tss-fontweight-regular {
    font-weight: var(--tss-font-weight-regular);
}

.tss-fontweight-semibold {
    font-weight: var(--tss-font-weight-semibold);
}

.tss-fontweight-bold {
    font-weight: var(--tss-font-weight-bold);
}

.tss-fontcolor-primary {
    color: var(--tss-primary-background-color);
}

.tss-fontcolor-success {
    color: var(--tss-success-background-color);
}

.tss-fontcolor-danger {
    color: var(--tss-danger-background-color);
}

.tss-fontcolor-secondary {
    color: var(--tss-secondary-foreground-color);
}

.tss-fontcolor-invalid {
    color: var(--tss-invalid-border-color);
}

.tss-box-shadow {
    box-shadow: var(--tss-box-shadow);
}

.tss-textalign-left {
    text-align: left;
}

.tss-textalign-center {
    text-align: center;
}

.tss-textalign-right {
    text-align: right;
}

*, :before, :after {
    box-sizing: border-box;
}

.tss-disabled {
    pointer-events: none;
    color: var(--tss-disabled-foreground-color);
}

.tss-required:after {
    content: "*";
    color: var(--tss-invalid-border-color);
    position: absolute;
    top: -3px;
    right: -10px;
    display: inline-block;
    font-size: var(--tss-font-size-medium);
    font-weight: var(--tss-font-weight-regular);
}

.tss-cursor-pointer {
    cursor: pointer;
}


.simplebar-wrapper {
    height: 100%; /* We change this, because the default of inherit from simple-bar doesn't play nice with our Stack*/
    width:  100%; /* We change this, because the default of inherit from simple-bar doesn't play nice with our Stack*/
}



::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: var(--tss-scrollbar-track-hidden-color);
    border-radius: 5px;
}

*:hover::-webkit-scrollbar-track {
    background: var(--tss-scrollbar-track-color);
    border-radius: 5px;
}


::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--tss-scrollbar-track-color);
    opacity: 0.8;
}


*:hover::-webkit-scrollbar-thumb {
    background: var(--tss-scrollbar-thumb-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 1;
    border: 1px solid var(--tss-dark-border-color);
}


.simplebar-scrollbar:before {
    background: var(--tss-simplebar-thumb-color);
}

.simplebar-track .simplebar-scrollbar.simplebar-visible:before {
    /* When hovered, remove all transitions from drag handle */
    opacity: 1;
    transition: opacity 0s linear;
}
