/* Tabs */
.tss-pivot {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction:column;
    height:100%;
}

.tss-pivot-titlebar {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-grow: 0;
    font-size: 14px;
    font-weight: 400;
    box-shadow: none;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    box-sizing: border-box;
    position: relative;
    color: rgb(0, 120, 212);
    white-space: nowrap;
    background: var(--tss-secondary-background-color);
    width: 100%;
    overflow:hidden;
}

    .tss-pivot-titlebar > * {
        background: var(--tss-secondary-background-color);
        border: 0px;
        margin: 0px;
        flex-shrink:1;
    }


    .tss-pivot-titlebar > .tss-pivot-selected-title {
        font-weight: var(--tss-font-weight-semibold);
        background: var(--tss-default-background-color);
        flex-shrink: 0;
    }

        .tss-pivot-titlebar > .tss-pivot-selected-title > span {
            font-weight: var(--tss-font-weight-semibold);
            background: var(--tss-default-background-color);
            flex-shrink: 0;
        }
        .tss-pivot-titlebar > .tss-pivot-selected-title > div {
            font-weight: var(--tss-font-weight-semibold);
            background: var(--tss-default-background-color);
            flex-shrink: 0;
        }

.tss-pivot-content {
    margin: 0;
    padding: 0;
    flex-grow:1;
    flex-shrink:1;
    overflow-y: auto;
    overflow-x: auto;
}
.tss-pivot-line {
    height: 3px;
    width: 0px;
    flex-shrink: 0;
    flex-grow: 0;
    background: var(--tss-primary-background-color);
    overflow: hidden;
}