.tss-detailslist {
    display: block;
    overflow-y: auto;
    overflow-x: auto;
    max-width: 100%;
    position: relative;
}

.tss-detailslist-container {
    width: 100%;
    height: 100%;
}

.tss-detailslist-header {
    display: inline-block;
    float: left;
    position: sticky;
    top: 0;
    z-index: 2;
}

.tss-detailslist-column-header, .tss-detailslist-list-items-container {
    display: inline-block;
    position: relative;
    float: left;
}

.tss-detailslist-list-item-container {
    display: inline-flex;
    align-items: center;
}
.tss-detailslist-column-header, .tss-detailslist-list-items-container, .tss-detailslist-list-item-container,
.tss-detailslist-list-item {
    width: 100%;
}

.tss-detailslist-list-item-container {
    border-top: 1px;
    border-top-color: var(--tss-default-separator-color);
    border-top-style: solid;
}

    .tss-detailslist-list-item-container:last-of-type {
        border-bottom: 1px;
        border-bottom-color: var(--tss-default-separator-color);
        border-bottom-style: solid;
    }

.tss-detailslist-list-item-container:hover {
    background-color: var(--tss-default-background-hover-color);
}

.tss-detailslist-column-header {
    padding: 4px 32px 4px 12px;
    display: inline-flex;
}

.tss-detailslist-column-header-sorting-icon {
    padding-left: 5px;
}
.tss-detailslist-list-item {
    display: inline-block;
    padding: 11px 32px 11px 12px;
    position: relative;
    float: left;
}


.tss-detailslist.tss-small > .tss-detailslist-list-item {
    padding: 4px 32px 4px 12px;
}
