/* Label */
.tss-breadcrumb {
    white-space: nowrap;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
    flex-wrap:nowrap;
    align-items: center;
    overflow:hidden;
}

.tss-breadcrumb-overflow {
    position: relative;
    display: flex;
    align-items: center;
}

/*.tss-breadcrumb-item {
    list-style-type: none;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: flex;
    position: relative;
    align-items: center;
}*/

.tss-breadcrumb-chevron {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    speak: none;
    color: var(--tss-secondary-foreground-color);
    font-size: 14px;
    padding-right: 4px;
    padding-left: 4px;
}

    .tss-breadcrumb-collapse {
        display:none;
    }

.tss-breadcrumb .tss-btn {
    min-width: unset;
    padding-left: 8px;
    padding-right: 8px;
    border-width: 0px !important;
}

.tss-breadcrumb .tss-btn.tss-disabled {
    background: transparent !important;
    border-color: transparent !important;
    border-width: 0px !important;
}


.tss-breadcrumb-opencolapsed{
    pointer-events:auto;
    cursor:pointer;
}

.tss-breadcrumb.tss-small {
    font-size: 10px;
}

    .tss-breadcrumb.tss-small > .tss-breadcrumb-chevron {
        font-size: 10px;
        padding-right: 2px;
        padding-left: 2px;
    }

    .tss-breadcrumb.tss-small .tss-btn {
        font-size: 10px;
        min-width: unset;
        padding-left: 4px;
        padding-right: 4px;
        border-width: 0px !important;
        min-height: 16px;
        margin: 0px;
    }
