/* Toast */

.tss-toast {
    display: flex;
    visibility: visible;
    height:100%;
    pointer-events:none;
}

.tss-toast-container {
    padding: 12px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: var(--tss-toast-shadow);
    pointer-events: all;
    opacity:0.85;
    border-radius:3px;
    transition: all 0.3s ease-in-out;
}

.tss-toast-container:hover{
    opacity:1;
    cursor:pointer;
}

.tss-toast-title {
    font-size: var(--tss-font-size-mediumplus);
    font-weight: var(--tss-font-weight-semibold);
}

.tss-toast-message {
    display: flex;
    font-size: var(--tss-font-size-small);
    font-weight: var(--tss-font-weight-regular);
    word-wrap: break-word;
}

.tss-toast-success > .tss-toast-container {
    background: var(--tss-success-background-color);
    color: var(--tss-success-foreground-color);
}

.tss-toast-information > .tss-toast-container {
    background: var(--tss-primary-background-color);
    color: var(--tss-primary-foreground-color);
}

.tss-toast-warning > .tss-toast-container {
    /*TODO: add own color for this*/
    background: var(--tss-danger-background-color);
    color: var(--tss-danger-foreground-color);
}

.tss-toast-error > .tss-toast-container {
    background: var(--tss-danger-background-color);
    color: var(--tss-danger-foreground-color);
}

.tss-toast-topright > .tss-toast-container {
    margin-top: 16px;
    margin-right: 16px;
}

.tss-toast-topcenter > .tss-toast-container {
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
    min-width: 300px;
    max-width: 50vw;
    align-items: center;
    justify-content: center;
}

.tss-toast-topleft > .tss-toast-container {
    margin-top: 16px;
    margin-left: 16px;
}

.tss-toast-bottomright > .tss-toast-container {
    margin-bottom: 16px;
    margin-right: 16px;
}

.tss-toast-bottomcenter > .tss-toast-container {
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
    min-width: 300px;
    max-width:50vw;
    align-items: center;
    justify-content: center;
}

.tss-toast-bottomleft > .tss-toast-container {
    margin-bottom: 16px;
    margin-left: 16px;
}

.tss-toast-topfull > .tss-toast-container {
    margin-top: 8px;
    width: 96vw;
}

.tss-toast-bottomfull > .tss-toast-container {
    margin-bottom: 8px;
    width: 96vw;
}